.main_container
{
    width: 93%;
    height: 27rem;
    /* border: 2px solid black; */
    margin:auto;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}
.main_container h1
{
    font-size: 40px;
}
.reviews
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px;
}
.rows{
    border: 1px solid rgb(237, 236, 236);
    box-shadow: 0px 0px 16px -3px rgb(211, 210, 210);
    position: relative;
    width: 350px;
    height: 190px;
    text-align: left;
    line-height: 25px;
    padding: 30px;
}
.stars
{
    margin-bottom: 10px;
}
.reviews div p
{
    color: black;
    font-weight: 600;
    font-size: 18px;
    height: 78px;
}
.rows img
{
    border-radius: 50%;
    margin: 24px 10px 0px 0px;
}
.rows h3
{
    display: inline;
}
.name_of_customer
{
    position: absolute;
    top: 10.5rem;
    display: inline;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6e7051;
    letter-spacing: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.last_line
{
    color: #979a9b;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}