.main_box
{
    display:flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 10px;
    /* border: 2px solid black; */
}

.plashoe_content
{
    width: 20%;
    line-height: 32px;
    text-transform: capitalize;
    font-size: 18px;
}
.main_box h3
{
    font-size: 23px;
    text-transform: uppercase;
    font-family: var(--text-font);
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 55px;
}
.plashoe_content p{
    margin-bottom: 30px;
}
.all_detail
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    width: 35%;
    line-height: 32px;
}
.all_detail li,a
{
    text-decoration: none;
    list-style: none;
    color: var(--font-color);
    font-size: 19px;
    text-transform: capitalize;
    font-weight:200;
    font-family: var(--text-font);
}
.all_detail a:hover
{
    color: black;
}
.icons
{ 
    width: 90%;
    margin:2px auto 20px;
    padding: 10px 9%;
}
.icon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    color: black;
    width: 37px;
    height: 37px;
    border: 2px solid black;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s;
}
.icon:hover
{
    background-color: black;
    color: white;
}