.arrival{
    padding: 20px 7%;
    height: 95rem;
}
.new_arrival {
    width: 100%;
    padding:20px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_arrival h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-family: var(--text-font);
    font-weight: 400;
}

.new_arrival a {
    text-decoration: none;
    font-family: var(--text-font);
    letter-spacing: 3px;
    color: var(--font-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.new_arrival a::after {
    content: '';
    display: block;
    background-color: black;
    width: 0px;
    height: 2px;
    transition: width 0.5s;
}

.new_arrival a:hover {

    color: black;
}

.new_arrival a:hover::after {
    width: 100%;
}

.iteam_list {
    display: grid;
    position: relative;
    width: 93%;
    height: 450px;
    gap: 15px;
    grid-template-columns: auto auto auto;
}

.iteam_list img {
    width: 390px;
    height: 400px;
    transition: all 0.6s;
}

.iteam_list img:hover {
    /* width: 400px;
    height: 410px;
    box-shadow: 8px 8px 18px -5px rgba(0, 0, 0, 0.58); */
    transform: translateY(-10px);

}

.iteam {
    text-align: center;
    margin-bottom: 20px;
}

.view_detail {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    bottom: 40px;
    left: 13px;
    width: 400px;
    height: 50px;
    background-color: rgba(79, 78, 78, 0.4);

}

.iteam h2 {
    margin: 15px 0px;
    font-family: var(--text-font);
    font-size: 20px;
    text-transform: capitalize;
}

.iteam span {
    font-family: var(--text-font);
    text-align: center;
    font-size: 18px;
    color: #979a9b;
}

.price {
    text-align: center;
}

.rupees {
    color: #979a9b;
    height: 0.8em;
    width: 0.8em;
}