.main-cart-container {
    margin: 0;
    padding: 3% 7%;
    box-sizing: border-box;
    background-color: #e9eae9c9;
    height: 100vh;
    width: 100%;

}

.inner-cart-container {
    background-color: white;
    height: 100%;
    padding: 20px;
}

.cart-title {
    font-size: 35px;
    font-family: var(--text-font);
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;

}

.cart-content {
    display: flex;
    height: 100%;
}

.cart-left {
    width: 60%;
}

.cart-left table {
    width: 100%;
}

.cart-left table {
    border: 1px solid #979A9B;
    border-bottom: none;
    text-align: center;
    border-collapse: collapse;
}

.cart-left th {
    border-bottom: 1px solid #979A9B;
    font-size: 20px;
    font-family: var(--text-font);
    font-weight: 600;
    background-color: #e9eae9c9;
    padding: 13px;
    color: #979A9B;
}

.cart-left tr {
    border-bottom: 1px solid #979A9B;
    padding: 10px;
}
.cart-left td {
    padding: 10px;
}

.image-header {
    width: 20%;
}
.cart-left img {
    width: 50%;
}

.empty-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.cart-right {
    width: 40%;
}
.increament-btn
{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 19px;
    text-align: center;
}
.increament-btn div
{
    padding: 5px                                                                                                                            ;
}
.plus,.minus
{
    cursor: pointer;
}                   
.orders-count
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 35%;
}

