.about_us
{
    width: 85%;
    height: 100vh;
    margin: 5px 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.image {
    height: 250px;
    width: 40%;
    height: 85%;
    background-image: url(../assets/recycled-shoe-store-home-about-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_content
{
    width: 30%;
    line-height: 50px;
}
.about_content h5
{
    font-size: 15px;
    color: orange;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.about_content h2
{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
p{
    color: #979a9b;
    font-family: "Poppins", sans-serif;
}
.about_content a{
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0px;
    color: black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.about_content a::after
{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: width 0.5s;
    background-color: black;
}
.about_content a:hover::after{
    width: 30%;
}
