.footer
{
    background: url(../assets/shoes_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:95%;
    margin:20px auto 0px;
    height: 580px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.button a{
    text-decoration: none;
    background-color: white;
    padding: 17px;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
}
.button a:hover
{   
    background-color: rgb(41, 40, 40);
    color: white;
}
.title_footer
{
    font-family: "Poppins", sans-serif;
    position: absolute;
    top:150px;
    font-size: 64px;
    font-weight: 500;
}
.content_data
{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 300px;
}
.button
{
    position: absolute;
    top: 400px;
}
.shopping_button
{
    margin: 20px;
}
.process
{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* padding: 15px; */
    width: 90%;
    /* border: 2px solid black; */
    margin: auto;
    align-items: center;
    height: 120px;
    /* margin-top: 5px; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 1.5px solid rgb(237, 236, 236);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
}
.process h3
{
    position: absolute;
    top:40px;
    display: inline;
    margin-left: 15px;
    font-weight: 500;
}
